{% verbatim %}
<div class="row">
  <div class="col-sm-8">
    <form id="productForm" method="post" class="form-horizontal">
      <div class="form-group">
        <label class="col-xs-3 control-label">Truck Number</label>
        <div class="col-xs-5 selectContainer">
          <select class="form-control" name="size" ng-model="selectedTruck"
            ng-options="truck.reg_no for truck in trucklist track by truck.id" ng-change="initialize()">
            <option value="">Select Truck Number</option>
          </select>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="row">
<div id="map_div" class="col-sm-4" style="position: relative; height: 600px; width: 100%;"></div>
</div>

{% endverbatim %}
