<div class="row">
	<div class="col-sm-12">
		<form class="form-inline">
			<div class="form-group col-sm-4">
				<label class="control-label">Truck Number</label> <input type="text"
					class="form-control" id="truckNumber" placeholder="Truck Number">

			</div>
			<div class="form-group col-sm-4">
				<label class="control-label">TAG MAC ID</label> <input
					type="password" class="form-control" id="tagMacId"
					placeholder="MAC ID">

			</div>
			<button class="btn btn-success" type="submit">Save</button>
		</form>
	</div>
</div>
<div class="row">
	<div class="col-sm-4">
		<div class="panel panel-default">
			<div class="panel-body">Use this form to track any items that
				are moving out of the warehouse</div>
		</div>
	</div>
</div>