<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SparBee</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/simple-sidebar.css" rel="stylesheet">
    <link href="/static/css/sparbee.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body ng-app="sparbee">

    <div id="wrapper" class="toggled">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#/home">SparBee</a>
                </li>
                <li>
                    <a href="#checkout">Check Out</a>
                </li>
                <li>
                    <a href="#checkin">Check In</a>
                </li>

                <li>
                    <a href="#">Track</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
              <div class="row logobar">
                <div class="col-sm-1 col-sm-offset-11"><img alt="" src="/static/images/sparbeeV2.png" id="sparbeelogo"></div>
              </div>
                <div class="row" ng-view>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="/static/js/jquery-3.2.0.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- angular JavaScript -->
    <script src="/static/js/angular.min.js"></script>
    <script src="/static/js/angular-route.js"></script>

    <!-- angular app JavaScript -->
    <script src="/static/js/sparbee.js"></script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCWvxpPHZuRIN7ZPhy3D0fxkEPXg8zqkRE&"></script>

</body>

</html>
