{% verbatim %}
<div class="row">
  <div class="col-sm-8">
    <form id="trackingForm" method="post" class="form-horizontal">
      <div class="form-group">
        <label class="col-xs-3 control-label">Sparbee MAC ID</label>
        <div class="col-xs-5 selectContainer">
          <select class="form-control" name="size" ng-model="selectedTag"
            ng-options="tag.mac_id for tag in taglist track by tag.id" ng-change="showTagLocation()">
            <option value="">Select MAC ID</option>
          </select>
        </div>
      </div>
    </form>
  </div>
</div>
<h5>Tag Trail:</h5>
<div class="row">
<div class="col-sm-offset-1 col-sm-10">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Last updated location</th>
        <th>Update time</th>
        <th>Mobile</th>
        <th>Radius</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td id="lastKnownLocation">{{lastUpdatedLocation}}</td>
        <td>{{updateTime}}</td>
        <td>{{mobile}}</td>
        <td>{{radius}}</td>
      </tr>
    </tbody>
  </table>
</div>
</div>
<div class="row">
<div id="map_div" class="col-sm-4" style="position: relative; height: 600px; width: 100%;"></div>
</div>
{% endverbatim %}
